In [2]:
# import

import pandas as pd

In [5]:
# all data
dia_df = pd.read_csv("data/DIA.csv")
qqq_df = pd.read_csv("data/QQQ.csv")
spy_df = pd.read_csv("data/SPY.csv")

In [4]:
dia_df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-12-01,111.680000,112.900002,111.589996,112.669998,90.286232,7312300
1,2010-12-02,112.769997,113.870003,112.750000,113.739998,91.143661,6146200
2,2010-12-03,113.339996,114.019997,113.309998,113.940002,91.303925,4550500
3,2010-12-06,113.779999,114.050003,113.629997,113.739998,91.143661,6181100
4,2010-12-07,114.620003,114.709999,113.669998,113.730003,91.135635,7617300
...,...,...,...,...,...,...,...
1093,2015-04-08,178.600006,179.559998,177.960007,178.750000,159.024261,4738500
1094,2015-04-09,178.660004,179.630005,177.979996,179.399994,159.602463,4483800
1095,2015-04-10,179.669998,180.440002,179.179993,180.369995,160.465469,3463600
1096,2015-04-13,180.169998,180.860001,179.490005,179.639999,159.816025,3358200
1097,2015-04-14,179.580002,180.539993,178.800003,180.179993,160.296356,4811400